

<div class="box">
  <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && onGuardarPersona()">
    <input required type="text" name="nombre" placeholder="Nombre" [(ngModel)]="nombreInput"/>
    <input required type="text" name="apellido" placeholder="Apellido" [(ngModel)]="apellidoInput"/>
    <button type="submit" style="cursor: pointer">+</button>
    <button *ngIf="indicePersona"
            type="button"
            style="cursor: pointer;background: red;"
            (click)="eliminarPersona(indicePersona)">x</button>
  </form>
</div>
